
@{
    ViewData["Title"] = "List the Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Customers</h1>

<div class=" container p-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">List Customers</h2>
        </div>
        <div class="coll-6"></div>
        <a asp-action="create" class="btn btn-success text-white">Create Customer</a>
    </div>
    <br />
    <br />
    <div class="p-3">
        <table id="tblCustomers" class="table table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FirsName</td>
                    <td>LastName</td>
                    <td>Country</td>
                    <td>Phone</td>
                </tr>
            </thead>
        </table>
    </div>
</div>  


@section stripts{
    <script src="~/js/Customers.js"></script>
}